[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-ckeditor = "*"
django-environ = "*"
python-slugify = "*"
django-utils-six = "*"
django-jinja = "*"
django-modeltranslation = "*"
django-admin-sortable2 = "==1.0.4"
jinja2 = "*"
django-crispy-forms = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
